#root {
  --question-width: 450px;
  --correct: limegreen;
  --incorrect: crimson;

  --correct-bg: rgba(50, 205, 50, 0.425);
  --incorrect-bg: rgba(220, 20, 60, 0.404);


  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 8px;
  border-radius: 7px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.gamemode-selector {
  display: flex;
  gap: 8px;
  justify-content: center;
}

li.card {
  transition: 150ms border ease-in;
}

li.card:hover {
  border: solid 1px var(--choice-bg);
}

.card label {
  display: block;
}

form {
  width: 500px;
  legend {
    text-align: center;
  }
}

.choice {
  padding: 10px;
  border-radius: 12px;
  background-color: var(--choice-bg);
  transition: background-color ease 250ms;
  border: 1px solid transparent;
  display: flex;
  gap: 5px;

}

.choice.correct {
  border: var(--correct) 1px solid;
  accent-color: var(--correct);
  background-color: var(--correct-bg);

  &:hover {
    background-color: var(--correct-bg);
  }
}

.choice.incorrect {

  border: var(--incorrect) 1px solid;
  accent-color: var(--incorrect);
  background-color: var(--incorrect-bg);

  &:hover {
    background-color: var(--incorrect-bg);
  }
}



.choice label {
  transition: background-color ease 250ms;
}

.choice:hover,
.choice label:hover {
  cursor: pointer;
}

.choice:hover {
  background-color: var(--choice-bg-hover);
}

.choice:not(:last-child) {
  margin-bottom: 2px;
}

.llm-response {
  max-width: 45ch;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#quizz-progress {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

.toast {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 10px;

  border: 1px solid var(--choice-bg-hover);
  background-color: var(--choice-bg);
}

.question-photo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.33em;

  img {
    width: 100%;
  }
}


/* Auxiliar classes */
.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.box-shadow {
  border: solid 1px var(--choice-bg-hover);
}

/* END Auxiliar classes */


@media (max-width: 550px) {
  #root {
    padding: 2rem 0;
  }

  form {
    width: auto;
  }
}